.cardHeaderText {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 25px;
    font-weight: 50;
    color: white;
  }
  
  .card-header {
    background-color: #3C698D;
  }
  
  .marginTop {
    margin-top: 2.5%;
  }