.logo{
	max-height: 60px;
	max-width: 60px;
	padding-right: 10px;
}
.navbar{
	background-color: white;
}
#navbarSupportedContent{
	background-color: #babbbd;
	max-height: 80%;
}

.nav-wrapper {
    background-color: #3c698d !important;
  }

nav ul li {
   padding-left: 20px;
   padding-right: 20px;
}  
nav ul li:hover {
   background-color: white;
}  