.navbar-brand {
    margin-right: 0px;
  }
  nav {
    padding-right: 180px;
    background-color: white;
    border: solid black 1px;
  }
  #navbarSupportedContent {
    margin-right: 6%;
    background-color: #BABBBD;
  }
  
  .navbar {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .logo {
    width: 90px;
    height: 90px;
  }